* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 400;
}
h1,
h2,
h3,
h5,
h4,
h6 {
  font-weight: 700;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: beige;
}
header ul {
  display: flex;
}
header ul a {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
.home{
  display:hidden;
}
#main {
  padding: 1rem 3rem;
}
#main .content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#main .content .left,
#main .content .right {
  width: 50%;
}
#main .content img {
  width: 100%;
}
#main .content a {
  background-color: #88c9c9;
  padding: 6px 12px;
  border: 2px solid #88c9c9;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 1rem;
  transition: all 0.5s;
}
#main .content a:hover {
  background-color: #fff;
  color: #000;
}
footer {
  background-color: beige;
  text-align: center;
  padding: 1rem 0;
}

@media all  and (max-width:900px) {
  header ul a {
    margin: 0 0.2rem;
    padding: 0 0.2rem;
  }
  header{
  padding: 1rem 2rem;

  }
}
@media all  and (max-width:750px) {
  header {
    flex-direction: column;
  }
#main .content {
   flex-direction: column;
}
#main .content .left,
#main .content .right {
  width: 100%;
}
#main {
  padding-top:0.3rem;
}
header{
  margin-bottom:0.5rem;
}
}
@media all and (max-width: 450px) {
  header h1{
    font-size: 1.5rem;
  }
  header ul {
    flex-direction: column;
  }
  /* nav{
    display: none;
  }
  .home{
    display:show;
  } */
   header ul li a{
    background-color: green;
  
   }

}